<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoloMatchmaking.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoloMatchmaking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SoloMatchmaking.Configuration>
            <setting name="DestinyPorts" serializeAs="String">
                <value>3097,27000-27200</value>
            </setting>
            <setting name="DestinyName" serializeAs="String">
                <value>Destiny2Solo</value>
            </setting>
            <setting name="RockstarPorts" serializeAs="String">
                <value>6672</value>
            </setting>
            <setting name="RockstarName" serializeAs="String">
                <value>RockstarSolo</value>
            </setting>
            <setting name="EnableDestinyHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRockstarHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DestinyHotkeyModifier" serializeAs="String">
                <value>Ctrl</value>
            </setting>
            <setting name="DestinyHotkeyKey" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="RockstarHotkeyModifier" serializeAs="String">
                <value>Ctrl</value>
            </setting>
            <setting name="RockstarHotkeyKey" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="LanguageFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OldDestinyPorts" serializeAs="String">
                <value>1935,3097,3478-3480</value>
            </setting>
            <setting name="LastPos" serializeAs="String">
                <value>-99999999, -99999999</value>
            </setting>
            <setting name="SynthVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SynthSpeed" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="DestinyBlockLocalPorts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestinyBlockRemotePorts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DestinySpecifyApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestinyExecutable" serializeAs="String">
                <value />
            </setting>
        </SoloMatchmaking.Configuration>
    </userSettings>
    <applicationSettings>
        <SoloMatchmaking.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.1</value>
            </setting>
        </SoloMatchmaking.Properties.Settings>
    </applicationSettings>
</configuration>